

#entrevistas{
    margin-top: 4.16rem;
}



.foto-invitados{
    position: relative;
    width: 26.66rem;
    height: 28.58rem;
    
}

.contenedor-invitados{
    display: flex;
    flex-direction: column;
}



@media screen and (min-width: 1400px) {
    #entrevistas{
        margin-top: 25rem;
    }

    .subtitulos{
        font-size: 4rem;
        margin-left: 16.67rem;
    }

    .contenedor-invitados{
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        padding-top: 3rem;
    }
    .foto-invitados{
        position: relative;
        width: 40rem;
        height: 30.33rem;
    }
    }