
/*Estilo general*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size:12px;
}

main{
  background: white;
}



/*botones*/

.botoncito {
  
  text-decoration:none;
  text-align: center;
  font-family: "IBM Plex Mono";
  position: relative;
  font-size: 1.33rem;
  color: #060A24;
  letter-spacing: 0;
  line-height: 1.83rem;

}

.boton-nosotros{
  width:24rem;
  height: 4rem;
  background: #00F3BB;
  margin: 1.66rem 1.33rem;
  padding: 1.08rem 0.6rem;
}

.subtitulos{
font-family: "IBM Plex Sans";
font-size: 3rem;
color: #060A24;
letter-spacing: 0;
line-height: 3.5rem;
font-weight: 400;
margin-left: 1.33rem;
text-align: left;
}

.boton-nosotros:hover{
  color: #FFFFFF;
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  
  }



/* Estilo de títulos */

.titulo{
font-family: 'IBM Plex Sans';
font-size: 3rem;
color: #060A24;
letter-spacing: 0;
line-height: 3.33rem;
margin: 3.33rem 1.33rem;
font-weight: 400;
}

.titulo::after{
  content:".";
  color:#0000EC; 
}

.ltr-estilo {
  font-family: 'IBM Plex Mono';
  font-size: 1.16rem;
  color: #060a24;
  letter-spacing: 0;
  line-height: 1.83rem;
  margin: 0rem 1.33rem;

}

.ltr-estilo-movile{
  font-family: 'IBM Plex Mono';
  font-size: 1.16rem;
  color: #060a24;
  letter-spacing: 0;
  line-height: 1.83rem;
  margin: 0rem 1.33rem;
}


.version-web{
  display:none;
}

/*Estilos pie de página*/

.pie-de-pagina{
  height: 10.083rem;
 
}

.letra-pie{

  font-family: "IBM Plex Mono";
  font-size: 1.16rem;
  color: #060A24;
  letter-spacing: 0;
  line-height: 1.83rem;
  margin-top: 2rem;
  text-align: center;
}


.container{
  margin-top: 1.33rem;
  width: 26.6rem;
  height: 2.33rem;
  display: flex;
  justify-content: space-evenly;
}

.redes-sociales{
  position: relative;
  font-size: 1.33rem;
  color: #060A24;
  letter-spacing: 0;
  line-height: 2.33rem;
}

/* Estilos información adicional*/


.contenedor{
  margin-top: 56.66rem;
  height: 28.41rem;
  overflow: hidden;
  position: relative;
}


.contenedor .informacion-adicional{
position: absolute;
width: 100%;
height: 100%;
background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);  
-webkit-transform: skewY(-6deg);
transform: skewY(-6deg);
transform-origin: top right;
}

h3{
position: relative;
margin-top: 5.33rem;
margin-left: 1.33rem;
margin-right: 1.33rem;
font-family: "IBM Plex Sans";
font-weight: 400;
font-size: 3rem;
color: #FFFFFF;
letter-spacing: 0;
text-align: center;
line-height: 3.5rem;
}




@media screen and (min-width: 1400px) {


/*estilos información adicional*/

.contenedor{
  margin-top: 8rem;
  height: 43.17rem;
  overflow: hidden;
  position: relative;
}


.contenedor .informacion-adicional{
position: absolute;
width: 100%;
height: 100%;
background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);  
-webkit-transform: skewY(-6deg);
transform: skewY(-6deg);
transform-origin: top right;
}

h3{
position: relative;
margin-top: 17.75rem;
margin-left: 1.33rem;
margin-right: 1.33rem;
font-family: "IBM Plex Sans";
font-weight: 400;
font-size: 3rem;
color: #FFFFFF;
letter-spacing: 0;
text-align: center;
line-height: 3.5rem;
}

aside .boton-nosotros{
  margin-left: 45.58rem;
  margin-top: 3rem;
}


/*Estilos pie de página*/

.pie-de-pagina{
  display: flex;
  height: 7.92rem;
  justify-content: space-between;
  margin-top: 3rem;
  margin-left: 8.33rem;
  margin-right: 4rem;
  
 
}

.letra-pie{

  font-family: "IBM Plex Mono";
  color: #060A24;
  letter-spacing: 0;
  line-height: 2.33rem;
  text-align: left;
  align-self: flex-start;
}


.container{
  width: 26.6rem;
  height: 2.33rem;
  display: flex;
  justify-content: space-evenly;
}

.redes-sociales{
  position: relative;
  align-self: flex-end;
  font-size: 1.33rem;
  color: #060A24;
  letter-spacing: 0;
  line-height: 2.33rem;
}
}






   
  